
.container-div-thumbnails {
    /* width: 80%; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}


.column-3 {
    width: 300px;
    padding: 0px 10px 0px 10px;
}

.column-8 {
    width: 300px;
    padding: 0px 10px 0px 10px;
}




img {
    width: 100%;
    vertical-align: sub;
}

.foto-blok {
    background-color: rgba(11, 117, 5, 0.81);
    position: relative;
    bottom: 43px;
    color: white;
    text-align: center;
}


.container-div {
    /* display: block; */
    flex-wrap: wrap;
}


@media (max-width: 540px) {
.container-div{
/*display: block;*/
flex-wrap: wrap;
}

.column-6, .column-3 .column-8{
  width: 100%;
}
.colomn-1 {
  max-width: 100%;
}

}
